<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>index</title>
   </head>
   <body>
      <h1>Страницы проекта:</h1>
      --------------------
      <p>>Базовые страницы</p>
      <ol>
         <li><a href="/">Стартовая страница</a></li>
         <li><a href="admin/">Страница входа в админку</a></li>
      </ol>
      --------------------<br>
      <p>>Студенты</p>
      <ol>
         <li><a href="gen-student/">Генерация и отображение одного студента</a></li>
         <li><a href="students/">Отображение всех студентов</a></li>
         <li><a href="students/add/">Форма добавления студента</a></li>
      </ol>
      --------------------<br>
      <p>>Группы</p>
      <ol>
         <li><a href="gen-group/">Генерация и отображение одной группы</a></li>
         <li><a href="groups/">Отображение всех групп</a></li>
         <li><a href="groups/add/">Форма добавления группы</a></li>
      </ol>
      --------------------<br>
      <p>>Учителя</p>
      <ol>
         <li><a href="gen-teacher/">Генерация и отображение одного учителя</a></li>
         <li><a href="teachers/">Отображение всех учителей</a></li>
         <li><a href="teachers/add/">Форма добавления учителя</a></li>
      </ol>
   </body>
</html>